*{
    margin:0px;
    padding:0px;

}
body{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

div{
    width:1200px;
    border:1px solid black;
    margin:12px auto;
}
header{
    font:20px impact;
    text-align:center;
    background:rgb(22, 21, 21);
    color:white;
}
#cabecera{
    text-align:center;
    font:bold 20px Lucida Bright; 
    background:#798a98;
    padding: 12px;
}
nav{
    background:#d1ccc0;
    margin:auto;
    
}
ul,ol{
    list-style:none;
}
.nav li a{
    text-decoration:none;
    padding:10px 15px;
    color:black;
    display:block;
    background-color:#d1ccc0; 
}
.nav li a:hover{
    background: #f2f0ed;
    font:bold;
    color:#d1ccc0;   
}
.nav>li{
    float:left;
}
.nav  li ul {
    border:1px solid black;
    display:none;
    
    background:#d1ccc0;
    min-width:140px;
    position:absolute;
}
.nav li:hover>ul{
    display:block;  
}
.nav li ul li {
    
}
.nav li ul li ul{
    right:-140px;
    top:0px;
}
nav li{
    list-style:none;
    display:block;
    width:240px;
    text-align:center;
    margin:auto;
    
    
}










.imagen-principal{
    text-align:center;
    margin:auto;
}
.imagen-principal img{
    
    object-fit:cover;
    text-align:center;
    margin:auto;
}

.lista-imagenes {
    object-fit:cover;
    display:flex;
    overflow-y:auto;
    text-align:center;
    margin:auto;
    
}
.lista-imagenes img{
    margin:auto;
    text-align:center;
    width:100%;
    width:80px;
    height:80px;
    object-fit:cover;
    display:block;
    
}
 img{
    
    text-align:center;
    margin:auto;  
}
footer{
  text-align:center;
  background:#d1ccc0;
  font:bold 12px Arial Black;  
}